/* variáveis de estilo para serem usadas na aplicação */
:root {
  --bg-primary-gray: #f2f3f4; /* cor de fundo cinza */
  --bg-secondary-white: #ffff; /* cor de fundo branca */
  --bg-tertiary: #D67EBF;
  --bg-quaternary: #e0e0e0;
  --bg-quinary: #232321;

  --bg-bagde-red: #ff6b6b;

  --text-color-gray: #333; /* cor do texto cinza */
  --text-color-pink: #D67EBF; /* cor do texto rosa */
  --text-color-white: #ffff; /* cor do texto branca */
  --text-color-gray-100: #ccc;
  --text-color-black: #000000;
  
  --icon-primary: #232321;
  --icon-secondary: #D67EBF;

  --primary-color: #D67EBF;
  
  --border-color-white: #ffffff;
  --border-color-pink: #D67EBF;
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* sombra dos elementos */
}

/* config abaixo para realizar um reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-primary-gray);
  color: var(--text-color-gray);

  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}