header {
  position: sticky;
  top: 0;

  z-index: 100;

  background-color: var(--bg-secondary-white);
  box-shadow: var(--shadow);
}

.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.nav-actions button {
  padding: 0.5rem;

  border: none;
  border-radius: 50%;

  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-actions button:hover {
  background-color: var(--bg-quaternary);
}

.nav-actions i {
  font-size: 1.5rem;
  color: var(--icon-primary);
}

.menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.menu-toggle i {
  font-size: 1.5rem;
  color: var(--icon-primary);
}

.menu-toggle:hover {
  background-color: var(--bg-quaternary);
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  
  .nav-actions {
    gap: 0.5rem;
  }
}
