body{
    color: black;
}
.address-header h1{
    color: var(--icon-primary);
    font-size: 28px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem 2rem 0rem;
    justify-content: center;
    align-items: center;
}
.address-content h1{
    color: var(--icon-primary);
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--bg-quaternary);
}
.btn-add-address{
    background: var(--bg-tertiary);
    color: var(--text-color-white);
    display: flex;
    font-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 60px;

}
.address-items h2{
    color: var(--icon-primary);
    display: flex;
    font-weight: 600;
    align-items: center;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--bg-quaternary);

}
.address-content{
    background: var(--text-color-white);
    margin: 65px;
    padding: 15px;

}